@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$pri-color: #007cba;
$blue: #007cba;
$light-blue: #d2dfe5;

html, body {
    height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#2b0a3d;

    &.loaded {
        .preloader {
        display:none !important;
       }
        .page-content {
        display: block;
       }
    }
    &.admin{
        background-image: none !important;
    }
}
#login-bg{
    /* position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0; */
    position: relative;
    img{
        height: auto;
        width: 100%;
    }
    .email-area{
        position: absolute;
        top: 0;
        right: 0;
        width: 19%;
        height: 20%;
        img{
            position: absolute;
            top: 27%;
            right: 25%;
            width: 20%;
            height: auto;
            max-width: 60px;
        }
    }
    .login-area, .slide-area{
        position: absolute;
        top: 50%;
        left: -400px;
        transform: translateY(-50%);
        transition: all 0.5s;
    }
    .login-area{
        &.show{
            left: 0;
        }


    }
    .slide-area{
        background-color: #0eaada;
        width: 50px;
        height: 100%;
        left: 400px !important;
        a{
            color: #fff;
            border: 1px solid #fff;
            font-size: 1.5em;
            border-radius: 50%;
            padding: 3px 9px;
            &.rotate{
                transform: rotate(180deg);
            }
        }
    }
    

}
#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}
.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation:portrait) {
    #mobile-portrait {
        display: block !important;
    }
}
.form-wrapper{
    background-color:#f2f2f2;
    padding: 1em 5em;
    border: none;
    border-radius: 0;
    z-index: 1;
    width: 400px;
    color: #0070ac;
}
@media (max-width:500px){
    .form-wrapper{
        width: 300px;
    }
}
form{
    width: 100%;
    label{
        text-transform:uppercase;
        font-weight:500;
        display:block;
    }
    .input{
        width: 100%;
        padding: 10px;
        font-size:1em;
        background-color: #e6e6e6;
        color: #35b5dc;
        border: none;
        &:focus{
            outline: 0;
            border: none;

        }
    }
    [type=submit]{
        border:0;
        border-radius:0;
    }
    [type=checkbox]{
        margin-right:5px;
    }
    .form-submit,
    #btnLogin{
          background-color: #0070ac;
        /* width:96px;
        height:41px; */
        width: 100%;
        padding: 6px 18px;
        text-align: center;
        color: #fff;
    }
  }

.welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100vh);
    overflow: hidden;

    background-image: url(../img/welcome.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-message{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    .btn-enter{
        border: 2px solid #fff;
        text-transform: uppercase;
        padding: 8px 24px;
        color: #fff;
        border-radius: 0;
    }
}
@media (max-width:900px){
    .welcome-message{
        width: 30%;
        h2{
            font-size: 1.5rem;
        }
        .btn-enter{
            font-size: 0.7rem;
            padding: 6px 12px;
        }
    }
}
@media (max-width:600px){
    .welcome-message{
        width: 35%;
        h2{
            font-size: 1rem;
        }
        .btn-enter{
            font-size: 0.5rem;
            padding: 4px 6px;
        }
    }
}
.preloader {
    height: 100%;
    width: 100%;
    background-color: #2B0A3D;
    position: fixed;
    z-index: 999999;

    img{
        max-height: 80px;
        width: auto !important;
    }
}
.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}
.loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: #333333;
}
    @keyframes loader {
    15% {
    transform: translateX(0);
}
    45% {
    transform: translateX(230px);
}
    65% {
    transform: translateX(230px);
}
    95% {
    transform: translateX(0);
}
}
@keyframes loading-text {
    0% {
    content: "Loading";
}
    25% {
    content: "Loading.";
}
    50% {
    content: "Loading..";
}
    75% {
    content: "Loading...";
}
}
#content {
    background-color: #fff;
    margin: 0px auto;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: relative; 
    &:before{
        content: '';
        display: block;
        padding-top: 100%;
    }
    &.halls{
        &:before{
            display: none !important;
        }
        /* height: calc(100vh); */
    }
    #pano-view{
        position: absolute;
        top: -30px;
        left:0;
        width: 100%;
        height: 100%;
        .pnlm-panorama-info{
            bottom: 65px !important
        }
        #controls {
            position: absolute;
            bottom: 60px;
            z-index: 2;
            text-align: center;
            width: 100%;
        }
        .ctrl {
            padding: 8px 5px;
            width: 30px;
            text-align: center;
            background: rgba(0, 70, 116, 0.7);
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
        }
        .ctrl:hover {
            background: rgba(0, 70, 116, 1);
        }
        .dot {
            height: 15px;
            width: 15px;
            &:before {
                content: "";
                position: relative;
                display: block;
                width: 300%;
                height: 300%;
                box-sizing: border-box;
                margin-left: -100%;
                margin-top: -100%;
                border-radius: 45px;
                background-color: #01a4e9;
                -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
                        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
              }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 15px;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
                        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
              }
        }
    
        div.tool-tip 
        {
            span {                
                position: absolute;
                border-radius: 6px;
                background-color: #007cba;
                color: #fff;
                text-align: center;
                width: 120px;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%, -50%);
                padding: 8px 12px;
                /* margin-left: -220px; */
                cursor: pointer;
                box-shadow: 0px 0 2px 2px rgba(0, 0, 0,0.3);
            }
            /* &:hover span{
                visibility: visible;
            } */
            /* &:hover span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: $blue transparent transparent transparent;
                bottom: -20px;
                left: -10px;
                margin: 0 50%;
            } */
           
        }

        div.tool-tip-white
        {
            span {                
                position: absolute;
                /* border-radius: 6px; */
                background-color: transparent;
                color: #007cba;
                text-align: center;
                width: 120px;
                font-size: 0.8em;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%, -50%);
                padding: 8px 12px;
                /* margin-left: -220px; */
                cursor: pointer;
                /* box-shadow: 0px 0 2px 2px rgba(0, 0, 0,0.3); */
            }
            /* &:hover span{
                visibility: visible;
            } */
            /* &:hover span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: $blue transparent transparent transparent;
                bottom: -20px;
                left: -10px;
                margin: 0 50%;
            } */
           
        }

        div.tool-tip-green
        {   
            div.dot{
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                top: 15px;
                left: 25px;
            }

            span {                
                position: absolute;
                /* border-radius: 6px; */
                background-color: transparent;
                color: #000;
                text-align: right;
                width: 120px;
                font-size: 0.8em;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%, -50%);
                padding: 8px 12px;
                /* margin-left: -220px; */
                cursor: pointer;
                /* box-shadow: 0px 0 2px 2px rgba(0, 0, 0,0.3); */
                
            }
            
           
           
        }
        
        
    }
    height: fit-content;    
    #main-area{
        margin-top: 0px;
        /* position: absolute;
        top: 60px;
        left:0;
        width: 100%;
        height: calc(100vh - 60px) ; */
        #hallsCarousel{
            border: 0px solid #000;
            .carousel-control-next, .carousel-control-prev{
                align-items: unset !important;
                justify-content: unset !important;

                top: 15% !important;
                bottom: auto;
                background-color: $pri-color;
                width: auto !important;
                padding: 5px 25px;
                text-align: center;
                text-transform: uppercase;
                border-radius: 0 6px 6px 0;
                opacity: 0.65 !important;
                &:hover{
                    opacity: 1 !important;
                }
            }
            .carousel-control-next{
                border-radius: 6px 0 0 6px;
            }

            .carousel-item{
                position: relative;
                &.stall1{
                    #tv-video{
                        position: absolute;
                        top:14.2%;
                        left: 69.7%;
                        width: 13.8%;
                        height: 12.4%;
                    }
                    #kickoff{
                        position: absolute;
                        top:25.4%;
                        left: 41.1%;
                        width: 12.8%;
                        height: 11.4%;
                    }
                }
                &.stall2{
                    #genpact{
                        position: absolute;
                        top:30.9%;
                        left: 48.9%;
                        width: 5.9%;
                        height: 3.4%;
                    }
                    #tcs{
                        position: absolute;
                        top:35%;
                        left: 48.9%;
                        width: 5.9%;
                        height: 3.4%;
                    }
                    #wipro{
                        position: absolute;
                        top:39.4%;
                        left: 48.9%;
                        width: 5.9%;
                        height: 3.4%;
                    }
                    #infosys{
                        position: absolute;
                        top:43.6%;
                        left: 48.9%;
                        width: 5.9%;
                        height: 3.4%;
                    }
                    #wns{
                        position: absolute;
                        top:47.8%;
                        left: 48.9%;
                        width: 5.9%;
                        height: 3.4%;
                    }
                }
                &.stall3{
                    #report{
                        position: absolute;
                        top:29.2%;
                        left: 53.3%;
                        width: 11.4%;
                        height: 18.9%;
                    }
                    #center{
                        position: absolute;
                        top:31%;
                        left: 31.7%;
                        width: 13.9%;
                        height: 11%;
                    }
                }
                &.stall4{
                    #video{
                        position: absolute;
                        top:25.4%;
                        left: 40.8%;
                        width: 13.5%;
                        height: 11.5%;
                    }
                    #innovation{
                        position: absolute;
                        top:13.8%;
                        left: 69.6%;
                        width: 13.9%;
                        height: 12.8%;
                    }
                }
                &.stall5{
                    #mastery{
                        position: absolute;
                        top:29.5%;
                        left: 44.5%;
                        width: 6.6%;
                        height: 15.1%;
                    }
                    #future{
                        position: absolute;
                        top:29.5%;
                        left: 52.6%;
                        width: 6.6%;
                        height: 14.9%;
                    }
                    #forward{
                        position: absolute;
                        top:29.6%;
                        left: 60.6%;
                        width: 6.5%;
                        height: 14.5%;
                    }
                }
            }
        }
        .menu-list{
            position: absolute;
            /* right: 0; */
            width: 100%;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 15;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            /* margin-right: 15%;
            margin-left: 15%; */
            list-style: none;
            .navbar-toggler{
                background-color: $pri-color;
            }
            #bottomNav{
                
                ul{
                    li{
                        background-color: $pri-color;
                        margin: 0 5px;
                        text-align: center;
                    }
                }
            }
            a{
                color: #fff;
            }
            /* 
            li{
                margin: 0 5px;
                img{
                    max-width: 100px;
                    cursor: pointer;
                }
            } */
        }
    }
    /* #header-menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: rgba(255,255,255,0.8);
        z-index: 1;
        a{
            color:#424242;
            font-size: 1em;
        }
        ul#attendance{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                margin-bottom: 0;
                font-size: 0.75em;
                padding: 0 10px;
                
            }
        }

    } */
    #bottom-menu{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #fff;
        .bottom-nav{
            padding:4px 0;
        }
        
        ul{
            li{
                /*padding:0 10px;*/
                
                i, a{
                    display:block;
                    color:#424242;
                    font-size: 1em;
                    text-align: center;
                    padding: 5px 10px;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i{
                    position: relative;
                    #chat-message{
                        position:absolute;
                        top: 0;
                        right: 0px;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
     #bg {
     position: relative;
    }

}

@-webkit-keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

  /*Modals*/
.modal{
    outline: 0;
    &#attendees, &#confAgenda    {
        .modal-dialog{
            width: 90% !important;
            max-width: 800px !important;
            height: 80vh;
            max-height: 600px;
        }
    }
    
    .search-area{
        form{
            .input{
                width:100%;
            }
        }
    }
    .modal-dialog{
        width: 80%;
        max-width: 650px;
        height: 70vh;
        max-height: 600px;
        

        .modal-content{
            border: 0;
            .modal-header{
                background-color: #072d45;
                h5.modal-title{
                    margin: 0;
                    font-size: 1.25em;
                    color: #fff;
                }
                .close{
                    padding: 1rem 1rem;
                    margin: -1rem -1rem -1rem auto;
                    background-color: #c00;
                    color: #fff;
                    &:focus{
                        outline: none !important;
                    }
                }
            }
            .modal-body{
                padding: 0em;
                color: #616161;
                background-color: #F5F5F5;
                /*min-height: 50vh;*/

                iframe{
                    width: 100%;
                    height: 100%;
                    
                }

                .search-area{
                    background-color: #e0e0e0;
                    color: #333;
                    padding:5px 10px;

                    button{
                        border: 1px solid #ccc;
                        padding: 4px 12px;
                        margin: 0 5px 0 0;
                        border-radius: 4px;
                    }
                }
                #attendeeList{
                    border: 1px solid #e0e0e0;
                    padding: 0;
                    .attendee{

                        padding: 10px 15px;
                        border-bottom: 1px solid #e0e0e0;
                        position: relative;

                        .attendee-actions{
                            position: absolute;
                            top: 7px;
                            right: 10px;
                        button{
                            border: none;
                            background-color: #BDBDBD;
                            padding: 4px 8px;
                            color: #EEEEEE;
                        }        
                        }
                        
                        }

                    
                }
                .content{
                    /* min-height: 30vh; */
                    max-height: 65vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 15px;
                    width: 95%;
                    margin: 10px auto;

                    a{
                        color: $blue;
                    }

                    &.b-case-panel{
                        margin: 40px 20px;

                        ul{
                            margin:0;
                            padding: 0;
                            list-style: none;
                            li{
                                border-bottom: 1px solid #E0E0E0;
                                padding: 5px 0;
                                margin-bottom: 10px;
                                a{
                                    color: $pri-color !important;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;

    &:before{
        display: table-cell;
        content: '';
    }
    
    li{
        float: left;
        border: 1px solid #ccc;
        padding: 10px;;
        
        a{
            color: #797878;
            padding: 18px 25px;
            
        }
        &.active{
            border-top: 2px solid #232f3e;
            background-color: #EEEEEE;
            a{
            color:#464646;
            font-weight: 600;
            
            }
         }
    }
    
}

@media (max-width:850px){
    body{
        font-size: 11px;
    }

    #content{

        #pano-view{
            .hotspot{
                height: 10px;
                width: 10px;
            }
            #controls{
                bottom: 40px;
            }
            .ctrl{
                padding: 4px 2px;
                width: 20px;
            }
            .pnlm-panorama-info{
                bottom: 45px;
            }
            .pnlm-title-box{
                font-size: 1.5em !important;
            }
            .pnlm-load-box{
                font-size: 1.7em;
                width: 150px;
                height: 100px;
                margin: -50px 0 0 -75px;
                p{
                    margin:10px 0;
                }
            }
            .pnlm-lbar{
                width: 100px;
                height: 4px;
            }
        }

        #header-menu{
            height: 50px;
            .top-nav{
                padding: 2px 5px;

                .logo{
                    max-height: 30px;
                }

            }
        }
        #bottom-menu{
            .bottom-nav{
                padding: 0;
            }
            height: 40px;
            ul{
                li{
                    a{
                        padding: 3px 6px !important;
                    }
                }
            }
        }
    }
} 



@media (max-width:586px){
    body{
        font-size: 9px;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 660px) {
    section.videotoplay
    {
        video{
            object-fit:contain !important;
        }
    }
    }
    
    section.videotoplay
    {
        z-index:9999;
        background-color:#000;
        position:absolute;
        top:0;
        left:0;
        width:calc(100% - 0px);
        height:calc(100vh);
        overflow: hidden;
        
        video{
            width:100%;height:calc(100vh);
            object-fit:cover;
            
        }
        
        .skip{
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: #cc0000;
        color: #fff;
        text-transform: uppercase;
        padding: 5px 20px;
        a{ color: #fff;
            &:hover{
            color: #fff;
            text-decoration:none;
        }
        }
        }
    }

    .mfp-iframe-holder .mfp-content{
        max-width: 1200px !important;
    }
    .mfp-iframe-scaler{
        padding-top: calc(56.25% + 23px) !important;
    }