@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #2b0a3d;
}

body.loaded .preloader {
  display: none !important;
}

body.loaded .page-content {
  display: block;
}

body.admin {
  background-image: none !important;
}

#login-bg {
  /* position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0; */
  position: relative;
}

#login-bg img {
  height: auto;
  width: 100%;
}

#login-bg .email-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
  height: 20%;
}

#login-bg .email-area img {
  position: absolute;
  top: 27%;
  right: 25%;
  width: 20%;
  height: auto;
  max-width: 60px;
}

#login-bg .login-area, #login-bg .slide-area {
  position: absolute;
  top: 50%;
  left: -400px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#login-bg .login-area.show {
  left: 0;
}

#login-bg .slide-area {
  background-color: #0eaada;
  width: 50px;
  height: 100%;
  left: 400px !important;
}

#login-bg .slide-area a {
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5em;
  border-radius: 50%;
  padding: 3px 9px;
}

#login-bg .slide-area a.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mobile-portrait {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: none;
}

.center-device {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2.5);
          transform: translate(-50%, -50%) scale(2.5);
  height: 50vh;
  max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
  #mobile-portrait {
    display: block !important;
  }
}

.form-wrapper {
  background-color: #f2f2f2;
  padding: 1em 5em;
  border: none;
  border-radius: 0;
  z-index: 1;
  width: 400px;
  color: #0070ac;
}

@media (max-width: 500px) {
  .form-wrapper {
    width: 300px;
  }
}

form {
  width: 100%;
}

form label {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}

form .input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #e6e6e6;
  color: #35b5dc;
  border: none;
}

form .input:focus {
  outline: 0;
  border: none;
}

form [type=submit] {
  border: 0;
  border-radius: 0;
}

form [type=checkbox] {
  margin-right: 5px;
}

form .form-submit,
form #btnLogin {
  background-color: #0070ac;
  /* width:96px;
        height:41px; */
  width: 100%;
  padding: 6px 18px;
  text-align: center;
  color: #fff;
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: calc(100vh);
  overflow: hidden;
  background-image: url(../img/welcome.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.3);
}

.welcome-message .btn-enter {
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 8px 24px;
  color: #fff;
  border-radius: 0;
}

@media (max-width: 900px) {
  .welcome-message {
    width: 30%;
  }
  .welcome-message h2 {
    font-size: 1.5rem;
  }
  .welcome-message .btn-enter {
    font-size: 0.7rem;
    padding: 6px 12px;
  }
}

@media (max-width: 600px) {
  .welcome-message {
    width: 35%;
  }
  .welcome-message h2 {
    font-size: 1rem;
  }
  .welcome-message .btn-enter {
    font-size: 0.5rem;
    padding: 4px 6px;
  }
}

.preloader {
  height: 100%;
  width: 100%;
  background-color: #2B0A3D;
  position: fixed;
  z-index: 999999;
}

.preloader img {
  max-height: 80px;
  width: auto !important;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  -webkit-animation-name: loading-text;
          animation-name: loading-text;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #333333;
}

@-webkit-keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

#content {
  background-color: #fff;
  margin: 0px auto;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  /* height: fit-content;  */
}

#content:before {
  content: '';
  display: block;
  padding-top: 100%;
}

#content.halls {
  /* height: calc(100vh); */
}

#content.halls:before {
  display: none !important;
}

#content #pano-view {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
}

#content #pano-view .pnlm-panorama-info {
  bottom: 65px !important;
}

#content #pano-view #controls {
  position: absolute;
  bottom: 60px;
  z-index: 2;
  text-align: center;
  width: 100%;
}

#content #pano-view .ctrl {
  padding: 8px 5px;
  width: 30px;
  text-align: center;
  background: rgba(0, 70, 116, 0.7);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}

#content #pano-view .ctrl:hover {
  background: #004674;
}

#content #pano-view .dot {
  height: 15px;
  width: 15px;
}

#content #pano-view .dot:before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

#content #pano-view .dot:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

#content #pano-view div.tool-tip {
  /* &:hover span{
                visibility: visible;
            } */
  /* &:hover span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: $blue transparent transparent transparent;
                bottom: -20px;
                left: -10px;
                margin: 0 50%;
            } */
}

#content #pano-view div.tool-tip span {
  position: absolute;
  border-radius: 6px;
  background-color: #007cba;
  color: #fff;
  text-align: center;
  width: 120px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  /* margin-left: -220px; */
  cursor: pointer;
  -webkit-box-shadow: 0px 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0 2px 2px rgba(0, 0, 0, 0.3);
}

#content #pano-view div.tool-tip-white {
  /* &:hover span{
                visibility: visible;
            } */
  /* &:hover span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: $blue transparent transparent transparent;
                bottom: -20px;
                left: -10px;
                margin: 0 50%;
            } */
}

#content #pano-view div.tool-tip-white span {
  position: absolute;
  /* border-radius: 6px; */
  background-color: transparent;
  color: #007cba;
  text-align: center;
  width: 120px;
  font-size: 0.8em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  /* margin-left: -220px; */
  cursor: pointer;
  /* box-shadow: 0px 0 2px 2px rgba(0, 0, 0,0.3); */
}

#content #pano-view div.tool-tip-green div.dot {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 25px;
}

#content #pano-view div.tool-tip-green span {
  position: absolute;
  /* border-radius: 6px; */
  background-color: transparent;
  color: #000;
  text-align: right;
  width: 120px;
  font-size: 0.8em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  /* margin-left: -220px; */
  cursor: pointer;
  /* box-shadow: 0px 0 2px 2px rgba(0, 0, 0,0.3); */
}

#content #main-area {
  margin-top: 0px;
  /* position: absolute;
        top: 60px;
        left:0;
        width: 100%;
        height: calc(100vh - 60px) ; */
}

#content #main-area #hallsCarousel {
  border: 0px solid #000;
}

#content #main-area #hallsCarousel .carousel-control-next, #content #main-area #hallsCarousel .carousel-control-prev {
  -webkit-box-align: unset !important;
      -ms-flex-align: unset !important;
          align-items: unset !important;
  -webkit-box-pack: unset !important;
      -ms-flex-pack: unset !important;
          justify-content: unset !important;
  top: 15% !important;
  bottom: auto;
  background-color: #007cba;
  width: auto !important;
  padding: 5px 25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 6px 6px 0;
  opacity: 0.65 !important;
}

#content #main-area #hallsCarousel .carousel-control-next:hover, #content #main-area #hallsCarousel .carousel-control-prev:hover {
  opacity: 1 !important;
}

#content #main-area #hallsCarousel .carousel-control-next {
  border-radius: 6px 0 0 6px;
}

#content #main-area #hallsCarousel .carousel-item {
  position: relative;
}

#content #main-area #hallsCarousel .carousel-item.stall1 #tv-video {
  position: absolute;
  top: 14.2%;
  left: 69.7%;
  width: 13.8%;
  height: 12.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall1 #kickoff {
  position: absolute;
  top: 25.4%;
  left: 41.1%;
  width: 12.8%;
  height: 11.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall2 #genpact {
  position: absolute;
  top: 30.9%;
  left: 48.9%;
  width: 5.9%;
  height: 3.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall2 #tcs {
  position: absolute;
  top: 35%;
  left: 48.9%;
  width: 5.9%;
  height: 3.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall2 #wipro {
  position: absolute;
  top: 39.4%;
  left: 48.9%;
  width: 5.9%;
  height: 3.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall2 #infosys {
  position: absolute;
  top: 43.6%;
  left: 48.9%;
  width: 5.9%;
  height: 3.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall2 #wns {
  position: absolute;
  top: 47.8%;
  left: 48.9%;
  width: 5.9%;
  height: 3.4%;
}

#content #main-area #hallsCarousel .carousel-item.stall3 #report {
  position: absolute;
  top: 29.2%;
  left: 53.3%;
  width: 11.4%;
  height: 18.9%;
}

#content #main-area #hallsCarousel .carousel-item.stall3 #center {
  position: absolute;
  top: 31%;
  left: 31.7%;
  width: 13.9%;
  height: 11%;
}

#content #main-area #hallsCarousel .carousel-item.stall4 #video {
  position: absolute;
  top: 25.4%;
  left: 40.8%;
  width: 13.5%;
  height: 11.5%;
}

#content #main-area #hallsCarousel .carousel-item.stall4 #innovation {
  position: absolute;
  top: 13.8%;
  left: 69.6%;
  width: 13.9%;
  height: 12.8%;
}

#content #main-area #hallsCarousel .carousel-item.stall5 #mastery {
  position: absolute;
  top: 29.5%;
  left: 44.5%;
  width: 6.6%;
  height: 15.1%;
}

#content #main-area #hallsCarousel .carousel-item.stall5 #future {
  position: absolute;
  top: 29.5%;
  left: 52.6%;
  width: 6.6%;
  height: 14.9%;
}

#content #main-area #hallsCarousel .carousel-item.stall5 #forward {
  position: absolute;
  top: 29.6%;
  left: 60.6%;
  width: 6.5%;
  height: 14.5%;
}

#content #main-area .menu-list {
  position: absolute;
  /* right: 0; */
  width: 100%;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 15;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 0;
  /* margin-right: 15%;
            margin-left: 15%; */
  list-style: none;
  /* 
            li{
                margin: 0 5px;
                img{
                    max-width: 100px;
                    cursor: pointer;
                }
            } */
}

#content #main-area .menu-list .navbar-toggler {
  background-color: #007cba;
}

#content #main-area .menu-list #bottomNav ul li {
  background-color: #007cba;
  margin: 0 5px;
  text-align: center;
}

#content #main-area .menu-list a {
  color: #fff;
}

#content #bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content #bg img#bg-image {
  width: 100%;
  height: auto;
}

#content #bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
}

#content #bottom-menu .bottom-nav {
  padding: 4px 0;
}

#content #bottom-menu ul li {
  /*padding:0 10px;*/
}

#content #bottom-menu ul li i, #content #bottom-menu ul li a {
  display: block;
  color: #424242;
  font-size: 1em;
  text-align: center;
  padding: 5px 10px;
}

#content #bottom-menu ul li i:hover, #content #bottom-menu ul li a:hover {
  text-decoration: none;
}

#content #bottom-menu ul li i {
  position: relative;
}

#content #bottom-menu ul li i #chat-message {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 0.75em;
}

#content-agenda {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh);
  overflow: hidden;
}

#content-agenda #bg {
  position: relative;
}

#content-agenda #bg img {
  width: 100%;
}

#content-agenda #bg #ses01 {
  position: absolute;
  left: 29.6%;
  top: 34.1%;
  width: 7%;
  height: 27.7%;
}

#content-agenda #bg #ses02 {
  position: absolute;
  left: 37%;
  top: 34.1%;
  width: 7%;
  height: 27.7%;
}

#content-agenda #bg #ses03 {
  position: absolute;
  left: 44.3%;
  top: 34.1%;
  width: 7%;
  height: 27.7%;
}

#content-agenda #bg #ses04 {
  position: absolute;
  left: 51.3%;
  top: 34.1%;
  width: 4.5%;
  height: 27.7%;
}

#content-agenda #bg #ses05 {
  position: absolute;
  left: 55.6%;
  top: 34.1%;
  width: 7%;
  height: 27.7%;
}

#content-agenda #bg #ses06 {
  position: absolute;
  left: 63%;
  top: 34.1%;
  width: 7%;
  height: 27.7%;
}

#content-agenda #bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
}

#content-agenda #bottom-menu .bottom-nav {
  padding: 4px 0;
}

#content-agenda #bottom-menu ul li {
  /*padding:0 10px;*/
}

#content-agenda #bottom-menu ul li i, #content-agenda #bottom-menu ul li a {
  display: block;
  color: #424242;
  font-size: 1em;
  text-align: center;
  padding: 5px 10px;
}

#content-agenda #bottom-menu ul li i:hover, #content-agenda #bottom-menu ul li a:hover {
  text-decoration: none;
}

#content-agenda #bottom-menu ul li i {
  position: relative;
}

#content-agenda #bottom-menu ul li i #chat-message {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 0.75em;
}

@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/*Modals*/
.modal {
  outline: 0;
}

.modal#attendees .modal-dialog, .modal#confAgenda .modal-dialog {
  width: 90% !important;
  max-width: 800px !important;
  height: 80vh;
  max-height: 600px;
}

.modal .search-area form .input {
  width: 100%;
}

.modal .modal-dialog {
  width: 80%;
  max-width: 650px;
  height: 70vh;
  max-height: 600px;
}

.modal .modal-dialog .modal-content {
  border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
  background-color: #072d45;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
  margin: 0;
  font-size: 1.25em;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: #c00;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 0em;
  color: #616161;
  background-color: #F5F5F5;
  /*min-height: 50vh;*/
}

.modal .modal-dialog .modal-content .modal-body iframe {
  width: 100%;
  height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
  border: 1px solid #ccc;
  padding: 4px 12px;
  margin: 0 5px 0 0;
  border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
  border: 1px solid #e0e0e0;
  padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
  position: absolute;
  top: 7px;
  right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
  border: none;
  background-color: #BDBDBD;
  padding: 4px 8px;
  color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
  /* min-height: 30vh; */
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  width: 95%;
  margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
  color: #007cba;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel {
  margin: 40px 20px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li {
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0;
  margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a {
  color: #007cba !important;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a:hover {
  text-decoration: none;
}

.modal-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0px solid #ccc;
  height: 40px;
  margin-bottom: 5px;
}

.modal-tabs:before {
  display: table-cell;
  content: '';
}

.modal-tabs li {
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
}

.modal-tabs li a {
  color: #797878;
  padding: 18px 25px;
}

.modal-tabs li.active {
  border-top: 2px solid #232f3e;
  background-color: #EEEEEE;
}

.modal-tabs li.active a {
  color: #464646;
  font-weight: 600;
}

@media (max-width: 850px) {
  body {
    font-size: 11px;
  }
  #content #pano-view .hotspot {
    height: 10px;
    width: 10px;
  }
  #content #pano-view #controls {
    bottom: 40px;
  }
  #content #pano-view .ctrl {
    padding: 4px 2px;
    width: 20px;
  }
  #content #pano-view .pnlm-panorama-info {
    bottom: 45px;
  }
  #content #pano-view .pnlm-title-box {
    font-size: 1.5em !important;
  }
  #content #pano-view .pnlm-load-box {
    font-size: 1.7em;
    width: 150px;
    height: 100px;
    margin: -50px 0 0 -75px;
  }
  #content #pano-view .pnlm-load-box p {
    margin: 10px 0;
  }
  #content #pano-view .pnlm-lbar {
    width: 100px;
    height: 4px;
  }
  #content #header-menu {
    height: 50px;
  }
  #content #header-menu .top-nav {
    padding: 2px 5px;
  }
  #content #header-menu .top-nav .logo {
    max-height: 30px;
  }
  #content #bottom-menu {
    height: 40px;
  }
  #content #bottom-menu .bottom-nav {
    padding: 0;
  }
  #content #bottom-menu ul li a {
    padding: 3px 6px !important;
  }
  #content-agenda #bottom-menu {
    height: 40px;
  }
  #content-agenda #bottom-menu .bottom-nav {
    padding: 0;
  }
  #content-agenda #bottom-menu ul li a {
    padding: 3px 6px !important;
  }
}

@media (max-width: 586px) {
  body {
    font-size: 9px;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 660px) {
  section.videotoplay video {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}

section.videotoplay {
  z-index: 9999;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: calc(100vh);
  overflow: hidden;
}

section.videotoplay video {
  width: 100%;
  height: calc(100vh);
  -o-object-fit: cover;
     object-fit: cover;
}

section.videotoplay .skip {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
}

section.videotoplay .skip a {
  color: #fff;
}

section.videotoplay .skip a:hover {
  color: #fff;
  text-decoration: none;
}

.mfp-iframe-holder .mfp-content {
  max-width: 1200px !important;
}

.mfp-iframe-scaler {
  padding-top: calc(56.25% + 23px) !important;
}

.pnlm-about-msg {
  width: 0;
  height: 0;
  display: none !important;
}

ul#smRatings li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */